* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 244, 253);
}

.main-container {
  background-color: rgb(238, 244, 253);
  width: 95%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px;
  width: 90%;
  height: 50px;
  margin: 10px;
  background-color: rgb(238, 244, 253);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #fff;
}

.list-container {
  background-color: rgb(238, 244, 253);
  width: 90%;
}

ul {
  padding: 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.list li {
  list-style: none;
}

/********************************************/

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px 8px 18px;
  width: 100%;
  height: 50px;
  background-color: rgb(238, 244, 253);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #fff;
}

.page-text {
  font-weight: 400;
  font-size: 14px;
}

.page-list li {
  list-style: none;
}

.page-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  border: 1px solid #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  border: 1px solid #fff;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px 6px 8px;
  display: inline-block;
  border-radius: 5px;
}

.active {
  background-color: #189cf4;
  color: #fff;
  font-weight: 700;
}
